Folder PATH listing for volume New Volume
Volume serial number is 40A8-CD41
E:.
ª   .gitignore
ª   LICENSE
ª   OxBot-Advisort-Setup.txt
ª   README.md
ª   tt.tt
ª   
+---OxBot
ª       OxBot.py
ª       OxBot.pyproj
ª       
+---OxBotAdvisorPythonConsole
ª   ª   .env
ª   ª   count_file_tokens.py
ª   ª   main.py
ª   ª   math_assistant.py
ª   ª   OxBotAdvisorPythonConsole.pyproj
ª   ª   OxBotAdvisorPythonConsole.pyproj.user
ª   ª   oxbot_assistant.py
ª   ª   reduce_listing_jsonl.py
ª   ª   tt.tt
ª   ª   __init__.py
ª   ª   
ª   +---assets
ª   ª       assistants.json
ª   ª       assistants.xml
ª   ª       geo_flat_listing_master.json
ª   ª       geo_flat_listing_min_jsonl.json
ª   ª       geo_flat_listing_test_min_jsonl.json
ª   ª       listing_master.json
ª   ª       oxbot_logo.png
ª   ª       
ª   +---__pycache__
ª           count_file_tokens.cpython-311.pyc
ª           openai_assistant_client.cpython-311.pyc
ª           reduce_listing_jsonl.cpython-311.pyc
ª           
+---ox_svc
    ª   build_and_install.ps1
    ª   monitor_and_build.py
    ª   ox_svc.pyproj
    ª   ox_svc.pyproj.user
    ª   setup.py
    ª   tt.tt
    ª   __init__.py
    ª   
    +---.vs
    ª   +---ox_svc
    ª       +---FileContentIndex
    ª               4c046cd6-d873-4133-bfb0-4c0f7b6b1f53.vsidx
    ª               
    +---build
    ª   +---bdist.win-amd64
    ª   +---lib
    ª       +---config
    ª       ª       assistant_manager.py
    ª       ª       config_manager.py
    ª       ª       __init__.py
    ª       ª       
    ª       +---files
    ª       ª       listings_manager.py
    ª       ª       __init__.py
    ª       ª       
    ª       +---openai
    ª               assistant_client.py
    ª               file_manager.py
    ª               __init__.py
    ª               
    +---config
    ª       assistant_manager.py
    ª       config_manager.py
    ª       __init__.py
    ª       
    +---dist
    ª       ox_svc-0.3.4-py3-none-any.whl
    ª       ox_svc-0.3.4.tar.gz
    ª       
    +---files
    ª       listings_manager.py
    ª       __init__.py
    ª       
    +---openai
    ª   ª   assistant_client.py
    ª   ª   file_manager.py
    ª   ª   __init__.py
    ª   ª   
    ª   +---__pycache__
    ª           __init__.cpython-311.pyc
    ª           
    +---ox_svc.egg-info
            dependency_links.txt
            PKG-INFO
            SOURCES.txt
            top_level.txt
            
